@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: hsl(210, 10%, 10%);
    --background2: hsl(220, 15%, 15%);
    --foreground: hsl(0, 0%, 70%);

    --card: hsl(210, 10%, 20%);
    --card-foreground: hsl(0, 0%, 90%);

    --popover: hsl(210, 10%, 20%);
    --popover-foreground: hsl(0, 0%, 90%);

    /* Orange */
    --primary: hsl(30, 100%, 50%);
    --primary-foreground: hsl(0, 0%, 100%);

    /* Green */
    --secondary: hsl(120, 100%, 30%);
    --secondary-foreground: hsl(0, 0%, 100%);
    --secondary-border: hsl(120, 100%, 30%);

    /* Gray */
    --muted: hsl(210, 10%, 15%);
    --muted-foreground: hsl(30, 10%, 95%);

    --accent: hsl(240, 50%, 60%);
    --accent-foreground: hsl(0, 0%, 100%);

    --destructive: hsl(0, 100%, 50%);
    --destructive-foreground: hsl(0, 0%, 100%);

    --border: hsl(210, 10%, 20%);
    --input: hsl(210, 10%, 20%);
    --ring: hsl(0, 0%, 90%);

    --radius: 0.5rem;
  }
}

/* Additional dark theme styles go here */
